.layout {
  background-color: #eee;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.row {
  background-color: #ccc;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
}

.row1 {
  background-color: #ccc;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  height: 100%;
}

.child-col {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
  min-height: 80px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; */
}

.child-col1 {
}

/* .child-col {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.ant-form-item {
  margin-bottom: 0;
}
